.nav-link{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white !important;
    color: rgb(16, 27, 96) !important;
    
}

.active,.nav-link:hover{
    background-color: rgb(16, 27, 96) !important;
    color: white !important;
}

.nav-link img{
    height: 21px;
    filter: invert(7%) sepia(40%) saturate(5967%) hue-rotate(231deg) brightness(114%) contrast(102%);
}

.nav-link img:hover, .nav-link.active > img{
    height: 21px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(250deg) brightness(102%) contrast(104%);
}

  